.box {
    background-color: #41A5B2;
    padding: 15px 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #fff;
}
.box h1 {
    font-size: 28px;
    font-weight: 200;
}
.box p {
    font-size: 12px;
    font-weight: normal;
    font-weight:200;
}

.box span {
    float: right;
    color: 228B22;
    
}
.box .btn {
    background-color: #ffffff;
    font-size: 10px;
    padding: 3px 7px;
}